@page
@model _21880109.Pages.MH_SuaLoaiHangModel
@{
}
<form method="post">

    <label for="TenMatHang">Nhap Ten Mat Hang:</label><br />
    <input type="text" name="TenLoaiHang" value="@Model.LoaiHang.TenLoaiHang"><br />

    <input type="submit" value="Sửa">
</form>

