@page
@model _21880109.Pages.MH_XoaLoaiHangModel
@{
}
<form method="post">
    <div>Bạn có muốn xóa Loại Hàng @Model.LoaiHang.TenLoaiHang</div>
    <input type="submit" value="Xóa">
</form>
@Model.Chuoi